@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Galada&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Galada", cursive;
}

.perspective-1 {
  -webkit-perspective: 1px;
  perspective: 1px;
}

.card {
  background-image: linear-gradient(#191970, #695acd86);
}

.card-2 {
  background-image: linear-gradient(#19197095, #695acd86);
}

.card-container {
  background-image: url("../assets/card-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.text-pink-cloud {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: url("../assets/pink-cloud-2.png");
}

.text-night-sky {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: url("../assets/card-bg.jpg");
}

.footer-bg {
  background-image: url("../assets/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-header {
  /* background: linear-gradient(#191970, #1919708e 70%, #19197000); */
  background-color: #191970;
}

.bg-pink-clouds {
  background-image: url("../assets/pink-cloud.png");
  background-position: center;
  background-repeat: no-repeat;
}

.bg-contact-us {
  background-image: url("../assets/footer-bg.png");
}

.sign-in-bg {
  background-image: url("../assets/clouds-dark-night-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
